:root {
   font-size: 10px; }
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
 
body {
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 400; }
 
ul, ol, li {
   list-style-type: none; }
a{
   text-decoration: none;
}
.fixed {
  position: fixed; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.column {
  display: flex;
  flex-direction: column; }

.absolute {
  position: absolute; }

header{
   width: 100%;
   background-color: rgba(0, 0, 0, 0.733);
   box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
   z-index: 10;
   height: 13vh;
   color: white;
}
header nav{
   justify-content: space-between;
   align-items: center;
}
.logo-nav{
   padding: 1rem;
   width: 14rem;
   margin-left: 3rem;
}
.list-nav{
   justify-content: space-between;
   align-items: center;
   margin-right: 5rem;
}
.list-items a{
   color: white;
   font-size: 1.8rem;
   margin-left: 2rem;
}
a.active{
   color: #70ce70;
}
.cart-widget{
   margin-left: 2rem;
   margin-right: 5rem;
   font-size: 2rem;
}
.cart-icon{
   color: white;
   font-size: 3.4rem;
}
.item-container{
   padding-top: 15vh;
   margin-left: 10rem;
   margin-right: 10rem;
   font-size: 2rem;

}
.list-item_container{
   color: white;
   background-color: rgba(131, 131, 131, 0.74);
   padding: 2rem;
   margin-bottom: 1rem;
   margin-right:2rem ;
}
h2{
   margin-bottom: 2rem;
}
.btn-vermas{
   background-color: #70ce70d3;
   color: white;
   padding: 0.8rem;
   margin: 1rem;
   border-radius: 1rem;
}
.btn-vermas:hover{
   background-color: #519651d3;
}
.btn-mas{
   margin-right: 2rem;
   background-color: #70ce70af;
   width: 3rem;
   border-color:#478147 ;
   border-radius: 0.8rem;
   font-size: 1.4rem;
}
.btn-menos{
   margin-left: 2rem;
   background-color: rgba(255, 0, 0, 0.568);
   width: 3rem;
   border-color:rgb(114, 0, 0) ;
   border-radius: 0.8rem;
   font-size: 1.4rem;
}
.btn-agregar{
   width: 15rem;
   margin-top: 1.5rem;
   font-size: 1.5rem;
   padding: 0.6rem;
}
.img-detail{
   width: 30rem;
}
.img-cart{
   width: 15rem;
   margin-right: 5rem;
}
.cart-footer{
   justify-content: space-between;
   margin-top: 5rem;
}
.cart-footer_btns button{
   margin-right: 2rem;
}
.cart-footer_tot{
   align-items: center;
   justify-content: center;
}
.cart-footer_tot p  {
   margin-right: 3rem;
}
.cart-footer_tot button{
   width: 15rem;
   margin-top: 0;
   font-size: 1.5rem;
   padding: 0;
}
.item-cart_components{
   margin-left: 20rem;
}
.itemCount{
   margin-right: 5rem;
}
.disable{
   display: none;
}
.enable{
   display: flex;
}